@import "../../mixins.scss";
.footer {
  background-color: var(--black3);
  padding: 50px 0;
  color: white;
  position: relative;
  .contentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .menuItems {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    @include md {
      margin-bottom: 30px;
      gap: 30px;
    }
    .menuItem {
      transition: all ease 0.3s;
      cursor: pointer;
      font-size: 12px;
      @include md {
        font-size: 16px;
      }
      &:hover {
        color: var(--pink);
      }
    }
  }
  .infoText {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.5;
    text-align: center;
    max-width: 800px;
    margin-bottom: 20px;
    @include md {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }
  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--black);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        box-shadow: 0 0 0.625em var(--pink);
        color: var(--pink);
      }
    }
  }
  .copyRightBanner {
    margin-top: 3rem;
    margin-bottom: -5rem;
    height: max-content;
    background: linear-gradient(to top, var(--black), #020c1b);
    width: 100vw;
    padding-block: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff9;

    h6 {
      font-size: 14px;
    }
    .name {
      background: linear-gradient(to right, #dc3564, #f4910b);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    @media screen and (min-width: 768px) {
      h6 {
        font-size: 16px;
        font-weight: 100;
      }
    }
  }
}
